/* ===============
 General Styles
 =============== */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: var(--text-center);
   }

  html {
    overflow-x: hidden;
  }
  
  body {
    font-family: var(--ffamily-overpass);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    gap: 5em;
  }
  
  h1 {
    font-size: 2.1em;
    color: #fff;
    font-family: var(--ffamily-ubuntu);
    font-weight: var(--fweight-ubuntu-400);
  }
  
  h2 {
    font-size: 1.4em;
    color: var(--Very-dark-blue-primary-color);
    font-family: var(--ffamily-ubuntu);
    font-weight: var(--fweight-ubuntu-700);
  }


  h3 {
    font-size: 2em;
    font-family: var(--ffamily-overpass);
    font-weight: var(--fweight-overpass-600);
    color: #fff;
  }

h4 {
    padding-bottom: 1em;
}


ul {
    font-family: var(--ffamily-ubuntu);
    font-weight: var(--fweight-ubuntu-400);
}

li {
    list-style: none;
    line-height: 1.5em;
}

  .sect-2 img, 
  .sect-3 img, 
  .sect-4 img {
    width: 100%;
  }

  .btns {
    width: 100%;
    margin: 1em auto;
  }

  .info {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  .sect-2 img, .sect-3 img, .sect-4 img {
    width: 100%;
    margin-top: 2em;
}

 .sect-4 img {
    width: 100%;
    margin-top: 0;
}